#create
{
background:url(bglogin_00000.png);
background-size: 100% 100%;
width: 700px;
height: 800px;
margin: auto;
padding-top: 5%;
}
h1
{
	color: #4169E1;
	font-family: Cursive;
	font-size: 60px;
	margin-left: 70px;
}
p
{
	color: #4169E1;
	font-family: Cursive;
	font-size: 20px;
	margin-left: 50px;
}
#login
{
	background:url(bg-author-visits.jpg);
    background-size: 100% 100%;
	width: 200px;
	height: 300px;
	float: right;
	margin-top: -1160px;
	transition: 0.3s;
	margin-right: 30px;
}