@media (max-width: 1667px)
{
	body{
		zoom: 90%;
	}
}
@media (max-width: 1567px)
{
	body{
		zoom: 85%;
	}
}
@media (max-width: 1467px)
{
	body{
		zoom: 80%;
	}
}
@media (max-width: 1367px)
{
	body{
		zoom: 75%;
	}
}
@media (max-width: 1267px)
{
	body{
		zoom: 70%;
	}
}
@media (max-width: 1167px)
{
	body{
		zoom: 65%;
	}
}
@media (max-width: 1067px)
{
	body{
		zoom: 57%;
	}
}
@media (max-width: 967px)
{
	body{
		zoom: 55%;
	}
}
@media (max-width: 867px)
{
	body{
		zoom: 50%;
	}
}
@media (max-width: 767px)
{
	body{
		zoom: 45%;
	}
}