#vid{
	z-index: -1;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	overflow: none;
	top: 0;
	left: 0;
	position: fixed;
}
#tot
{
	width: 1450px;
	height: 450px;
	margin: auto;
	margin-top: 50px;
	z-index: -1;
    display: block;
}
#container
{
	margin-left: 50px;
	float: left;
	background-color: rgba(250,250,250,0.7);
	width: 450px;
	height: 450px;
	cursor: pointer;
	font-family: Cursive;
	font-size: 80px;
	text-align: center;
}
#container1
{
	float:left;
	background-color: rgba(250,250,250,0.7);
	width: 450px;
	height: 450px;
	cursor: pointer;
	font-family: Cursive;
	font-size: 80px;
	text-align: center;

}
#navig1{
    display: none;
    width: 1500px;
    height: 850px;
    background-color: rgba(250,250,250,0.5);
    margin: auto;
}
#navig3{
    display: none;
    width: 1500px;
    height: 800px;
    background-color: rgba(250,250,250,0.5);
    margin: auto;
}
#feedback
{
	margin-left: 250px;
	margin-top: 50px;
	font-size: 60px;
}
#navigation3
{
transform: rotate(180deg);
border: 3px solid white;
background-color: white;
color: red;
width: 60px;
height: 45px;
position: relative;
float: right;
font-size: 35px;
text-align: center;
cursor: pointer;
background-color: none;
}
#navigation1
{
transform: rotate(180deg);
color: red;
width: 60px;
height: 45px;
position: relative;
float: right;
font-size: 35px;
text-align: center;
cursor: pointer;
border: 3px solid white;
background-color: white;
}
#navigation1:hover{
    background-color: red;
    color: white;
}
#navigation3:hover{
    background-color: red;
    color: white;
}
#files
{
	overflow: auto;
	height: 92%;
	display: inline-block;	
}
#null{
	animation: invpresent 3s;
}
#central{
	overflow: none;
	width: 500px;
	height: 50px;
	animation: okpresent 3s;
}
#headersus{
	width: 100%;
	/* border: 0px solid black; */
	position:fixed;
	animation: bunpresent 3s;
	height: 50px;
}
i{position:relative;top: 30%;transform: translateY(-100%);}
#part1{text-align: center; font-size: 60px; margin: auto; margin-top: 8%; color: #ff5200;}
#part2{margin-left: 550px;}
#header{width: 101%; height: 50px; background-color: rgba(250,250,250,0.8);margin-top:-8%; margin-left: -20px;transition: 0.3s; color:black; font-size: 40px;position: fixed;animation: present 3s;}
#textarena{margin-left: 5px; width: 80%; height: 70%; border: 2px solid lightgreen;}
#tablerow{width: 100%; height: 150px; background-color: rgba(204,255,0,0.26); font-size: 20px;}
#table{font-family: Cursive; font-size: 40px; width: 170%; text-align: center;margin-top: -20px;}
a{text-decoration: none; color: black;}
@keyframes present{
	from{
		height: 101%;
	}
	90%{
		height: 101%;
	}
	to{
		height: 50px;
	}
}
@keyframes invpresent{
	from{
		opacity:0;
		display:none;
	}
	90%{
		display:block;
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes bunpresent{
	from{
		height: 100%;
	}
	90%{
		height: 100%;
	}
	to{
		height: 50px;
	}
}
@keyframes okpresent{
	from{
		height: 200px;
	}
	90%{
		height: 200px;
	}
	to{
		height: 50px;
	}
}
@keyframes disapear{
	from{
		font-size: 70px;
	}
	90%{
		font-size: 70px;
	}
	to{
		font-size: 40px;
	}
}
@keyframes disapear2{
	from{
		font-size: 50px;
		opacity: 1;
	}
	90%{
		font-size: 50px;
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
@media (max-width: 1667px)
{
	body{
		zoom: 85%;
	}
}
@media screen and (max-width:1667px) and (max-height:901px)
{
	body{
		zoom: 80%;
	}
}
@media (max-width: 1567px)
{
	body{
		zoom: 80%;
	}
}
@media (max-width: 1467px)
{
	body{
		zoom: 75%;
	}
}
@media screen and (max-width: 1367px)
{
	body{
		zoom: 63%;
	}
}
@media screen and (max-width: 1280px) and (max-height:1024px)
{
    body{
		zoom: 90%;
	}
    #container{
        zoom: 80%;
    }
    #container1{
        zoom: 80%;
    }
    #navig1{
        zoom: 80%;
    }
    #navig3{
        zoom: 80%;
    }
}
@media screen and (max-width: 1280px)
{
	body{
		zoom: 55%;
	}
    #container{
        zoom: 80%;
    }
    #container1{
        zoom: 80%;
    }
    #navig1{
        zoom: 80%;
    }
    #navig3{
        zoom: 80%;
    }
}
@media (max-width: 1167px)
{
	body{
		zoom: 65%;
	}
}
@media (max-width: 1067px)
{
	body{
		zoom: 57%;
	}
}
@media (max-width: 967px)
{
	body{
		zoom: 55%;
	}
}
@media (max-width: 867px)
{
	body{
		zoom: 50%;
	}
}
@media (max-width: 767px)
{
	body{
		zoom: 45%;
	}
}