body{
	overflow: none;
	font-family: Calibri, sans-serif;
	background-color: #f18d9e;
}
.toate {
position: fixed;
margin-top: 35%;
width: 100%;
}
#vid{
	z-index: -1;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	overflow: none;
	top: 0;
	left: 0;
	position: fixed;
}
#align{
	margin: auto;
	width: 1200px;
}
a
{
	text-decoration: none;
}
.scris {
background-color: #3f7b68;
width: 300px;
height: 37px;
float: left;
margin-left: 80px;
transition: 0.3s;
color: white;
font-size: 30px;
overflow: hidden;
text-align: center;
}
.scris:hover {
background-color: #5bc8ac;
box-shadow: 0 10px 50px black;
cursor: pointer;
}
.titlu {
position:fixed;
left: 50%;
transform: translateX(-50%);
text-align: center;
font-size: 100px;
color: #ffffff;
width: 900px;
height: 75px;
margin-top: 11%;
}