#wraper{
    overflow: auto;
    height: 90%;
    width: 95%;
    top: 50%;
    transform: translateY(-50%);
    position:relative;
    margin:auto;
    text-align: justify;
    font-size: 40px;
}
#titlu_lec{
    font-size: 100px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    position: relative;
    transform-origin: bottom center;
    animation: up 1s;
}
#titlu{
	background-color: #f69547;
	color: white;
	text-align: center;
    font-size: 80px;
}
#btn{
    background-color: rgba(0,0,0,0);
    cursor:pointer;
    height: 100px;
    font-size: 20px;
    width: 200px;
    border-color: white;
    float: right;
    color: white;
    margin-right: 100px;
    margin-top: 40%;
    transform: translateY(-100%);
}
#tot{
    height: 70%;
    width: 100%;
}
table{font-size: 40px;text-align: center;}
#lege{
    font-size: 60px;
}
#graphic{
    margin-top: 0;
    width: 30%;
    height: 100%;
    display:inline-block;
    margin: 0.3%;
}
@keyframes up{
    from{opacity: 0;}
    to{opacity: 1;}
}
@media (max-width: 1667px)
{
	body{
		zoom: 90%;
	}
}
@media (max-width: 1567px)
{
	body{
		zoom: 85%;
	}
}
@media (max-width: 1467px)
{
	body{
		zoom: 80%;
	}
}
@media (max-width: 1367px)
{
	body{
		zoom: 75%;
	}
}
@media (max-width: 1267px)
{
	body{
		zoom: 70%;
	}
}
@media (max-width: 1167px)
{
	body{
		zoom: 65%;
	}
}
@media (max-width: 1067px)
{
	body{
		zoom: 57%;
	}
}
@media (max-width: 967px)
{
	body{
		zoom: 55%;
	}
}
@media (max-width: 867px)
{
	body{
		zoom: 50%;
	}
}
@media (max-width: 767px)
{
	body{
		zoom: 45%;
	}
}